body{
margin:0;
font-family:Segoe UI;
background:#f1f5f9;
color:#111;
transition:.4s;
overflow-x:hidden;
}

.dark{
background:#000000;
color:rgb(139, 139, 139);
}

header{
position:relative;
text-align:center;
padding:60px 20px;
color:white;
overflow:hidden;
background:#817702;
}

.bg3d{
position:absolute;
width:260%;
height:170%;
background:linear-gradient(45deg,#000000,#f8ff8fa9,#6e6300);
animation:move 50s infinite linear;
transform:rotateX(60deg) rotateZ(45deg);
opacity:.4;
}

@keyframes move{
0%{transform:translate(-25%,-25%) rotateX(60deg) rotateZ(0deg);}
100%{transform:translate(-25%,-25%) rotateX(60deg) rotateZ(360deg);}
}

.profile{
width:140px;
height:140px;
border-radius:50%;
border:4px solid rgb(0, 0, 0);
position:relative;
z-index:1;
}

.typing{
height:30px;
position:relative;
z-index:1;
}

.btn{
display:inline-block;
background:#000000;
padding:10px 18px;
border-radius:10px;
color:white;
text-decoration:none;
margin-top:10px;
z-index:1;
position:relative;
}

.card{
background:white;
margin:30px auto;
padding:25px;
width:85%;
max-width:900px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
opacity:0;
transform:translateY(40px);
transition:1s;
}

.dark .card{background:#0f172a;}

.show{
opacity:1;
transform:translateY(0);
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:12px;
transition:.4s;
}

.gallery img:hover{transform:scale(1.05);}

.skill{margin:15px 0;}
.bar{
height:12px;
background:#ddd;
border-radius:20px;
overflow:hidden;
}
.bar div{
height:100%;
background:#f5e400;
}

input,textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #b8ac7b;
}

button{
background:#6b4f00;
color:white;
border:none;
padding:12px 18px;
border-radius:10px;
cursor:pointer;
}

.social a{
margin:10px;
display:inline-block;
color:#5f6100;
font-weight:bold;
text-decoration:none;
}

footer{
text-align:center;
padding:30px;
background:#494b00;
color:rgb(0, 0, 0);
margin-top:40px;
}